In [1]:
import pandas as pd
import re
import numpy as np

c:\Users\jtsanchez\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\jtsanchez\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
c:\Users\jtsanchez\Anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df = pd.read_csv('SO_ADV_data (7).csv')
df

,TIME_MESSAGE,MESSAGE,REGION
0,2023-06-14 9:47:19 PM,Mindanao Grid-06/14/2023 21:48: WMPC DG01 cut-...,CMIN
1,2023-06-14 9:46:52 PM,Mindanao Grid-06/14/2023 21:48: WMPC DG01 cut-...,CMIN
2,2023-06-14 9:44:44 PM,Mindanao Grid-06/14/2023 21:45: WMPC DG05 cut-...,CMIN
3,2023-06-14 9:44:18 PM,Mindanao Grid-06/14/2023 21:45: WMPC DG05 cut-...,CMIN
4,2023-06-14 9:29:17 PM,Mindanao Grid-06/14/2023 21:29: WMPC DG07 cut-...,CMIN
...,...,...,...
21156,2021-12-11 1:24:00 PM,VRCC-12/11/2021 09:21: 34.5 KV CARCON - Sangi...,CVIS
21157,2021-12-11 1:24:00 PM,VRCC-12/11/2021 13:00: GRID UPDATE AS OF 1:00 ...,CVIS
21158,2021-12-11 1:23:00 PM,LRCC-12/11/2021 12:53: GRID UPDATE AS OF 1:00 ...,CLUZ
21159,2021-12-11 1:22:00 PM,LRCC-12/11/2021 09:04: Tayabas-Mauban 230kV Li...,CLUZ
21160,2021-12-11 1:22:00 PM,LRCC-12/11/2021 10:29: Dasmarinas-MEC-Rosario ...,CLUZ

### Remove duplicates

In [3]:
#remove duplicates

df.duplicated(subset=['MESSAGE'])

0        False
1         True
2        False
3         True
4        False
         ...
21156    False
21157    False
21158    False
21159    False
21160    False
Length: 21161, dtype: bool

In [4]:
df.drop_duplicates(subset='MESSAGE', inplace=True)

In [5]:
df.duplicated(subset=['MESSAGE']).value_counts()

False    14630
Name: count, dtype: int64

### Keyword detection

In [6]:
#keyword lists
    
outage_keywords = [
"shut down", "shutdown", "out", "outage",
"desynchronize", "shut", "out", "planned outage", "trip", "tripping", "tripped",
"offline", "unavailable", "energize", "de-energize","de-energized", "emergency"
'failed to synchronized','failed to synchronize'
] 


restoration_keywords=[
'online', 'on-line' 'energize', 'restored', "sync","synchronize", 
"synchronized", 're-energized', 're energize', 're-energize', 'energization'
]


#derated_keywords=['derated'] #i others na lang to
#note: cut-in/cut-out - reserve/ RPS- classify as other

In [7]:
keyword_lists = {'restoration': restoration_keywords,'outage': outage_keywords}  
                    #i put "restoration" first coz restoration updates also contain outage keywords

def get_matched_list(message):
    for name, keywords in keyword_lists.items():
        if any(re.search(fr'\b{re.escape(keyword)}\b', message, flags=re.IGNORECASE) for keyword in keywords):
            return name
    return "other"  # if no match


df['MESSAGE TYPE'] = df['MESSAGE'].str.lower().apply(get_matched_list)


df

,TIME_MESSAGE,MESSAGE,REGION,MESSAGE TYPE
0,2023-06-14 9:47:19 PM,Mindanao Grid-06/14/2023 21:48: WMPC DG01 cut-...,CMIN,outage
2,2023-06-14 9:44:44 PM,Mindanao Grid-06/14/2023 21:45: WMPC DG05 cut-...,CMIN,outage
4,2023-06-14 9:29:17 PM,Mindanao Grid-06/14/2023 21:29: WMPC DG07 cut-...,CMIN,outage
6,2023-06-14 8:59:30 PM,Mindanao Grid-06/14/2023 21:00: Sibulan Hedcor...,CMIN,restoration
7,2023-06-14 8:55:57 PM,Mindanao Grid-06/14/2023 20:56: Sibulan Hedcor...,CMIN,outage
...,...,...,...,...
21156,2021-12-11 1:24:00 PM,VRCC-12/11/2021 09:21: 34.5 KV CARCON - Sangi...,CVIS,outage
21157,2021-12-11 1:24:00 PM,VRCC-12/11/2021 13:00: GRID UPDATE AS OF 1:00 ...,CVIS,other
21158,2021-12-11 1:23:00 PM,LRCC-12/11/2021 12:53: GRID UPDATE AS OF 1:00 ...,CLUZ,other
21159,2021-12-11 1:22:00 PM,LRCC-12/11/2021 09:04: Tayabas-Mauban 230kV Li...,CLUZ,outage
21160,2021-12-11 1:22:00 PM,LRCC-12/11/2021 10:29: Dasmarinas-MEC-Rosario ...,CLUZ,outage

In [8]:
# then add if line/plant/transformer update (Gelo code)

line_pattern = r"(?<!\bon[-\s])\bline\b(?![-\s]on\b)" # regex to exclude "on line" and "on-line"


# Create a new column 'Category' to classify the message
df['CATEGORY'] = np.where(df['MESSAGE'].str.contains(r"\d+\s*MW"), "plant",
                                    np.where(df['MESSAGE'].str.contains(r"\d+\s*MVA"), "transformer",
                                             np.where(df['MESSAGE'].str.contains(r"\d+\s*kV"), "line",
                                                      np.where(df['MESSAGE'].str.contains(r"transformer", case=False), "transformer",
                                                               np.where(df['MESSAGE'].str.contains(line_pattern, case=False), "line", # modified to exclude "on line" and "on-line"
                                                                        np.where(df['MESSAGE'].str.contains('weather', case=False),'weather','plant'))))))

In [9]:
df.to_csv('with message type.csv', index=False)

In [10]:
df.groupby(['REGION','CATEGORY', 'MESSAGE TYPE']).size().reset_index(name='count')

   REGION     CATEGORY MESSAGE TYPE  count
0    CLUZ         line        other    117
1    CLUZ         line       outage   1537
2    CLUZ         line  restoration   1135
3    CLUZ        plant        other   1572
4    CLUZ        plant       outage    555
5    CLUZ        plant  restoration    440
6    CLUZ  transformer        other     70
7    CLUZ  transformer       outage    253
8    CLUZ  transformer  restoration    177
9    CLUZ      weather        other    440
10   CMIN         line        other     92
11   CMIN         line       outage    238
12   CMIN         line  restoration    119
13   CMIN        plant        other   1633
14   CMIN        plant       outage    924
15   CMIN        plant  restoration    128
16   CMIN  transformer        other     11
17   CMIN  transformer       outage     52
18   CMIN  transformer  restoration     24
19   CMIN      weather        other    199
20   CVIS         line        other    874
21   CVIS         line       outage    514
22   CVIS         line  restoration    264
23   CVIS        plant        other   1641
24   CVIS        plant       outage    617
25   CVIS        plant  restoration    221
26   CVIS  transformer        other    165
27   CVIS  transformer       outage    118
28   CVIS  transformer  restoration     26
29   CVIS      weather        other    408
30   CVIS      weather       outage     61
31   CVIS      weather  restoration      5

In [11]:
df.groupby(['REGION','MESSAGE TYPE']).size().reset_index(name='count')

  REGION MESSAGE TYPE  count
0   CLUZ        other   2199
1   CLUZ       outage   2345
2   CLUZ  restoration   1752
3   CMIN        other   1935
4   CMIN       outage   1214
5   CMIN  restoration    271
6   CVIS        other   3088
7   CVIS       outage   1310
8   CVIS  restoration    516